---
import Layout from '../../layouts/Layout.astro';
import FormularioWishList from "../../components/groupsForms/formularioWishList"
---

<Layout title="New WishList">
  <main>

    <FormularioWishList client:only></FormularioWishList>

  </main>
</Layout>