---
import Layout from '../../layouts/Layout.astro'
import FormListaDeCompras from '../../components/groupsForms/formListaDeCompras'
---

<Layout title="New ShopList">
  <main>
    <FormListaDeCompras client:only></FormListaDeCompras>
  </main>
</Layout>
