---
import Layout from '../../layouts/Layout.astro';
import FormularioDivisionDeGastos from "../../components/groupsForms/formularioDivisionDeGastos"
---

<Layout title="New Group">
  <main>

    <FormularioDivisionDeGastos client:only></FormularioDivisionDeGastos>

  </main>
</Layout>








