---
import Layout from '../../layouts/Layout.astro';
import { bees } from '../../../public/beesDeprecated.ts';
import '../../styles/btn.css'
import '../../styles/global.css'
import '../../styles/modal.css'
import CerrarSesion from '../../components/cerrarsesion';
import ProfileSections from "../../components/profileSections";

import {Tabs, Tab, Card, CardBody, CardHeader, CardFooter, Button, Link, Input} from '@nextui-org/react';
---

<Layout title="Welcome to Splithive">
    <main>
        <CerrarSesion client:only></CerrarSesion>

        <Card className='p-4'>

            <ProfileSections client:only></ProfileSections>
            
        </Card>


        
    </main>
</Layout>