---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Header from '../../src/components/Header';
import '../styles/btn.css'
import Conexion from "../components/conexion"
---

<Layout title="Inicio">
  <main>
    
    <div class="home">
      
      <Header />

      <!-- <div class="conexion">
        <a href="/login">
            <img src="/public/images/logIn.png" alt="Log In" class="button"/>
        </a>
        <a href="/registro">
          <img src="/public/images/signIn.png" alt="Sign In" class="button"/>
        </a>
      </div>
      <img src = "/public/images/bee.png">
      Help a bee
      </img>
    </div> -->
    <Conexion client:only></Conexion>
    
    <script>
      import { getContactos, getUsuarios, getGrupos, getGastos, getHives, getCurrentUser, getUserByUsername } from "../utils/utilities"
      import cargarDatos from "../utils/initLogica"
      cargarDatos();
    </script>
    
  </main>
</Layout>

<style>

  

  .button {
      display: block;
      width: 275px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-top: 15%;
  }

  .logo-link {
    justify-content:center;
    align-items: center;
    cursor: pointer;
    max-width: 500px;
    max-height: 200px;
  }
  .home {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
  }

  .logo {
    margin-left: 50px;
    max-width: 50%;
    max-height: 10%;
  }

  .conexion{
    display: flex;
    gap: 80px;
    padding-bottom: 200px;
  }


</style>