---
import Layout from '../layouts/Layout.astro';
import '../styles/modal.css'
import '../styles/btn.css'
import '../styles/global.css'
import '../styles/groups-cards.css'
import CerrarSesion from "../components/cerrarsesion"
---

<Layout title="Welcome to Splithive">
    <main>
        <div >
            <CerrarSesion client:only></CerrarSesion>
        </div>
        
        <div class="home">

            <div class="buscador-grupo">
                <input type="text" id="buscarGrupoInput" placeholder="Ingresa el ID del grupo">
                <button class="btn-unirse" id="buscarGrupo">Buscar</button>
            </div>
            <div id="grupos"></div>
            <div class="btns">
                <a href="/home">
                    <button class="btn">Volver</button>
                </a>
            </div>
        </div>

        <script>
            import { getCurrentUser, getGruposPublicosForUser, agregarIntegrante, getGrupoById } from "../utils/utilities"

            var currentUser = getCurrentUser();
            var gruposPublicos;
            gruposPublicos = getGruposPublicosForUser(currentUser);

            function actualizarListaGrupos() {
                var contenedorGrupos = document.getElementById('grupos');
                contenedorGrupos.innerHTML = ''; 

                for(let id in gruposPublicos) {
                    var grupo = gruposPublicos[id];
                    var grupoElemento = document.createElement('div');                    
                    grupoElemento.innerHTML = `
                        <h2>${grupo.nombre}</h2>
                        <p>Tipo: ${grupo.tipo}</p>
                    `;

                    if (grupo.tipo === "gastos") {
                        var cantidadIntegrantes = grupo.integrantes.length + (grupo.invitados?.length ?? 0);
                        grupoElemento.innerHTML += '</h2><p>Cantidad de integrantes: ' + cantidadIntegrantes + '</p>';
                    }

                    var enlaceDetalle = document.createElement('a');
                    enlaceDetalle.classList.add('grupo-card');
                    enlaceDetalle.href = 'grupos/' + (id) + '-' + grupo.tipo;

                    enlaceDetalle.appendChild(grupoElemento);
                    contenedorGrupos.appendChild(enlaceDetalle);
                };
            }

            function handleBuscarGrupo() {
                var searchInput = document.getElementById('buscarGrupoInput');
                var grupoId = searchInput.value;
                var grupo = getGrupoById(grupoId);
                if (grupo) {
                    if(grupo.publico) {
                        window.location.href = '/grupos/' + grupoId + '-' + grupo.tipo;
                    } else {
                        alert('El grupo es Privado');
                    }
                } else {
                    alert("Por favor ingrese un ID de grupo.");
                }
            }

            document.getElementById('buscarGrupo').addEventListener('click', handleBuscarGrupo);
            actualizarListaGrupos();
        </script>
    </main>
</Layout>

<style is:global>
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
    .img-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 400px; /* Ajusta el tamaño según tus necesidades */
    }
    .page-title {
        margin-top: 10rem; /* Ajusta el margen superior según tus necesidades */
        text-align: center;
        color: burlywood;
        font-size: 3rem; /* Ajusta el tamaño de la fuente según tus necesidades */
    }
    #buscarGrupoInput {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    }

    #buscarGrupoInput:focus {
        border-color: #007BFF;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
        outline: none;
    }

    #buscarGrupoInput::placeholder {
        color: #aaa;
        font-style: italic;
    }

    #buscarGrupoInput:hover {
        border-color: #888;
    }

    .btn-unirse {
        background-color: #ffffff;
        color: rgb(0, 0, 0); 
        font-size: 20px;
        padding: 10px 15px; 
        margin-top: 10px;
        border-radius: 6px;
        border: 3px solid #000000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .btn-unirse:disabled{
    border: 1px solid #000000;
    background-color: #000000;
    color: #000000;
    }

    .btn-unirse:hover {
        background-color: #a2a2a2;
    }

    .btn-unirse:focus {
        outline: none;
        border-color: #a2a2a2;
        box-shadow: 0 0 8px rgba(162, 162, 162, 0.25);
    }
</style>